<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let col of headers" scope="col">{{col}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prestation of collection">
        <td>{{prestation.typePresta}}</td>
        <td>{{prestation.client}}</td>
        <td>{{prestation.nbJours}}</td>
        <td>{{prestation.tjmht | currency:'EUR'}}</td>
        <td>{{prestation | total | currency:'EUR'}}</td>
        <td>{{prestation | total: true  | currency:'EUR'}}</td>
        <td>{{prestation.state}}</td>
      </tr>
    </tbody>
  </table>
</div>
